.righbar {
  flex: 3.5;
}
.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.righbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0px;
}
.righbarTitle {
  margin-bottom: 20px;
}
.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitleBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
}

.rightbarEditButton {
  border: none;
  background-color: rgb(0, 145, 255);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.rightbarUserDetailsHr{
  margin-bottom: 10px;
}
.righbarInfo {
  margin-bottom: 30px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}
.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  justify-content: space-around;
}

.share {
  width: 100%;
  border-radius: 10px;
}

.rightbarFollowing {
  display: flex;
  gap: 2px;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px 0.25px rgba(112, 112, 112, 0.68);
  -moz-box-shadow: 1px 1px 3px 0.25px rgba(112, 112, 112, 0.68);
  box-shadow: 1px 1px 3px 0.25px rgba(112, 112, 112, 0.68);
}
.rightbarFollowingName {
  padding: 0px 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 3px;
}

.rightBarFollowingButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(0, 145, 255);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.rightbarFollowButton:focus {
  outline: none;
}
